@page
@model Webbshoppen.Pages.AdminModel
@{var currentstate = Model.CState;
}
@switch (currentstate)
{
    case 0:
        <div class="container" style="padding:20px">
            <form method="post">
                <input type="hidden" name="input" value="1" placeholder="Add" />
                <button type="submit" class="btn btn-primary" style="height:40px"><p>Add Product</p></button>
            </form>
        </div>
        <div class="container" style="padding:20px">
            <form method="post">
                <input type="hidden" name="input" value="2" placeholder="Remove" />
                <button type="submit" class="btn btn-primary" style="height:40px"><p>Remove Product</p></button>
            </form>
        </div>
        <div class="container" style="padding:20px">
            <form method="post">
                <input type="hidden" name="input" value="3" placeholder="Edit" />
                <button type="submit" class="btn btn-primary" style="height:40px"><p>Edit Product</p></button>
            </form>
        </div>
        <div class="container" style="padding:20px">
            <form method="post">
                <input type="hidden" name="input" value="4" placeholder="AddSale" />
                <button type="submit" class="btn btn-primary" style="height:40px"><p>Add Sale Product</p></button>
            </form>
        </div>
        <div class="container" style="padding:20px">
            <form method="post">
                <input type="hidden" name="input" value="5" placeholder="RemoveSale" />
                <button type="submit" class="btn btn-primary" style="height:40px"><p>Remove Sale Product</p></button>
            </form>
        </div>
        <div class="container" style="padding:20px">
            <form method="post">
                <input type="hidden" name="input" value="6" placeholder="EditSale" />
                <button type="submit" class="btn btn-primary" style="height:40px"><p>Edit Sale %</p></button>
            </form>
        </div>
        <div class="container" style="padding:20px">
            <form method="post">
                <input type="hidden" name="input" value="13" placeholder="GetDiscountProducts" />
                <button type="submit" class="btn btn-primary" style="height:40px"><p>Get random discount products</p></button>
            </form>
        </div>
        break;
    case 1:
        <form method="post">
            <input type="hidden" name="input" value="7" placeholder="Jackets" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Jackets</p></button>
        </form>
        <form method="post">
            <input type="hidden" name="input" value="8" placeholder="Pants" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Pants</p></button>
        </form>
        <form method="post">
            <input type="hidden" name="input" value="9" placeholder="Shirts" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Shirts</p></button>
        </form>
        <form method="post">
            <input type="hidden" name="input" value="10" placeholder="Shoes" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Shoes</p></button>
        </form>
        <form method="post">
            <input type="hidden" name="input" value="11" placeholder="Underwear" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Underwear</p></button>
        </form>
        break;
    case 2:
        <form method="post">
            <p>ProduktId:</p>
            <input type="number" asp-for="@Model.ProductId" placeholder="ProductId" name="ProductId" />

            <input type="hidden" name="input" value="105" placeholder="SubmitRemove" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Remove product</p></button>
        </form>
        break;
    case 3:
        <form method="post">
            <p>ProduktId:</p>
            <input type="number" asp-for="@Model.ProductId" placeholder="ProductId" name="ProductId" />

            <input type="hidden" name="input" value="12" placeholder="SubmitEdit" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Edit product</p></button>
        </form>
        break;
    case 4:
        <form method="post">
            <p>ProduktId:</p>
            <input type="number" asp-for="@Model.ProductId" placeholder="ProductId" name="ProductId" />

            <input type="hidden" name="input" value="108" placeholder="SubmitAddSale" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Add sale product</p></button>
        </form>
        break;
    case 5:
        <form method="post">
            <p>ProduktId:</p>
            <input type="number" asp-for="@Model.ProductId" placeholder="ProductId" name="ProductId" />

            <input type="hidden" name="input" value="109" placeholder="SubmitRemoveSale" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Remove sale product</p></button>
        </form>
        @foreach (Models.Product prod in Data.ProductManager.SalesList)
        {
            <h5>@prod.ProductId - @prod.Name</h5>
        }
        break;
    case 6:
        <form method="post">
            <p>Discount in %:</p>
            <input type="number" asp-for="@Model.Discount" placeholder="Discount" name="Discount" />

            <input type="hidden" name="input" value="106" placeholder="SubmitAdd" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Adjust discount</p></button>
        </form>
        break;
    case 7: // Formulär för att skapa Jacka
        <form method="post">
            <p>Name:</p>
            <input type="text" asp-for="@Model.Name" placeholder="Name" />
            <p>----------------------------------------------------</p>
            <p>Size:</p>
            <input type="number" asp-for="@Model.Size" placeholder="Size" name="Size" />
            <p>----------------------------------------------------</p>
            <p>Color:</p>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Black" name="Color" value="@Models.Colors.Black" checked>
                <label for="Black">Black</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Red" name="Color" value="@Models.Colors.Red">
                <label for="Red">Red</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Yellow" name="Color" value="@Models.Colors.Yellow">
                <label for="Yellow">Yellow</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Blue" name="Color" value="@Models.Colors.Blue">
                <label for="Blue">Blue</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Gender:</p>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Male" name="Gender" value="@Models.Gender.Male" checked>
                <label for="Male">Male</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Female" name="Gender" value="@Models.Gender.Female">
                <label for="Female">Female</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Unisex" name="Gender" value="@Models.Gender.Unisex">
                <label for="Unisex">Unisex</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Price:</p>
            <input type="number" asp-for="@Model.Price" placeholder="Price" />
            <p>----------------------------------------------------</p>
            <p>Description:</p>
            <textarea type="text" asp-for="@Model.Description" placeholder="Description" rows="10" cols="60" name="description"></textarea>
            <p>----------------------------------------------------</p>
            <p>Stock: </p>
            <input type="number" asp-for="@Model.Stock" placeholder="Stock" />
            <p>----------------------------------------------------</p>
            <p>Jacket lenght:</p>
            <div>
                <input type="radio" asp-for="@Model.JacketLenght" id="Long" name="JacketLenght" value="@Models.JacketLenght.Long" checked>
                <label for="Long">Long</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.JacketLenght" id="Short" name="JacketLenght" value="@Models.JacketLenght.Short">
                <label for="Short">Short</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.JacketLenght" id="Medium" name="JacketLenght" value="@Models.JacketLenght.Medium">
                <label for="Medium">Medium</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>ImageLink:</p>
            <input type="text" asp-for="@Model.ImageLink" placeholder="ImageLink" />
            <p>----------------------------------------------------</p>
            <input type="hidden" name="input" value="100" placeholder="SubmitAdd" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Add Jacket</p></button>
        </form>
        break;
    case 8: // Formulär för att skapa Byxor
        <form method="post">
            <p>Name:</p>
            <input type="text" asp-for="@Model.Name" placeholder="Name" />
            <p>----------------------------------------------------</p>
            <p>Size:</p>
            <input type="number" asp-for="@Model.Size" placeholder="Size" name="Size" />
            <p>----------------------------------------------------</p>
            <p>Color:</p>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Black" name="Color" value="@Models.Colors.Black" checked>
                <label for="Black">Black</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Red" name="Color" value="@Models.Colors.Red">
                <label for="Red">Red</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Yellow" name="Color" value="@Models.Colors.Yellow">
                <label for="Yellow">Yellow</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Blue" name="Color" value="@Models.Colors.Blue">
                <label for="Blue">Blue</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Gender:</p>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Male" name="Gender" value="@Models.Gender.Male" checked>
                <label for="Male">Male</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Female" name="Gender" value="@Models.Gender.Female">
                <label for="Female">Female</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Unisex" name="Gender" value="@Models.Gender.Unisex">
                <label for="Unisex">Unisex</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Price:</p>
            <input type="number" asp-for="@Model.Price" placeholder="Price" />
            <p>----------------------------------------------------</p>
            <p>Description:</p>
            <textarea type="text" asp-for="@Model.Description" placeholder="Description" rows="10" cols="60" name="description"></textarea>
            <p>----------------------------------------------------</p>
            <p>Stock: </p>
            <input type="number" asp-for="@Model.Stock" placeholder="Stock" />
            <p>----------------------------------------------------</p>
            <p>ImageLink:</p>
            <input type="text" asp-for="@Model.ImageLink" placeholder="ImageLink" />
            <p>----------------------------------------------------</p>
            <input type="hidden" name="input" value="101" placeholder="SubmitAdd" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Add Pants</p></button>
        </form>
        break;
    case 9: // Formulär för att skapa Tröja
        <form method="post">
            <p>Name:</p>
            <input type="text" asp-for="@Model.Name" placeholder="Name" />
            <p>----------------------------------------------------</p>
            <p>Size:</p>
            <input type="number" asp-for="@Model.Size" placeholder="Size" name="Size" />
            <p>----------------------------------------------------</p>
            <p>Color:</p>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Black" name="Color" value="@Models.Colors.Black" checked>
                <label for="Black">Black</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Red" name="Color" value="@Models.Colors.Red">
                <label for="Red">Red</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Yellow" name="Color" value="@Models.Colors.Yellow">
                <label for="Yellow">Yellow</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Blue" name="Color" value="@Models.Colors.Blue">
                <label for="Blue">Blue</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Gender:</p>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Male" name="Gender" value="@Models.Gender.Male" checked>
                <label for="Male">Male</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Female" name="Gender" value="@Models.Gender.Female">
                <label for="Female">Female</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Unisex" name="Gender" value="@Models.Gender.Unisex">
                <label for="Unisex">Unisex</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Price:</p>
            <input type="number" asp-for="@Model.Price" placeholder="Price" />
            <p>----------------------------------------------------</p>
            <p>Description:</p>
            <textarea type="text" asp-for="@Model.Description" placeholder="Description" rows="10" cols="60" name="description"></textarea>
            <p>----------------------------------------------------</p>
            <p>Stock: </p>
            <input type="number" asp-for="@Model.Stock" placeholder="Stock" />
            <p>----------------------------------------------------</p>
            <p>ImageLink:</p>
            <input type="text" asp-for="@Model.ImageLink" placeholder="ImageLink" />
            <p>----------------------------------------------------</p>
            <input type="hidden" name="input" value="102" placeholder="SubmitAdd" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Add Shirt</p></button>
        </form>
        break;
    case 10: // Formulär för att skapa Skor
        <form method="post">
            <p>Name:</p>
            <input type="text" asp-for="@Model.Name" placeholder="Name" />
            <p>----------------------------------------------------</p>
            <p>Size:</p>
            <input type="number" asp-for="@Model.Size" placeholder="Size" name="Size" />
            <p>----------------------------------------------------</p>
            <p>Color:</p>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Black" name="Color" value="@Models.Colors.Black" checked>
                <label for="Black">Black</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Red" name="Color" value="@Models.Colors.Red">
                <label for="Red">Red</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Yellow" name="Color" value="@Models.Colors.Yellow">
                <label for="Yellow">Yellow</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Blue" name="Color" value="@Models.Colors.Blue">
                <label for="Blue">Blue</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Gender:</p>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Male" name="Gender" value="@Models.Gender.Male" checked>
                <label for="Male">Male</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Female" name="Gender" value="@Models.Gender.Female">
                <label for="Female">Female</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Unisex" name="Gender" value="@Models.Gender.Unisex">
                <label for="Unisex">Unisex</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Price:</p>
            <input type="number" asp-for="@Model.Price" placeholder="Price" />
            <p>----------------------------------------------------</p>
            <p>Description:</p>
            <textarea type="text" asp-for="@Model.Description" placeholder="Description" rows="10" cols="60" name="description"></textarea>
            <p>----------------------------------------------------</p>
            <p>Stock: </p>
            <input type="number" asp-for="@Model.Stock" placeholder="Stock" />
            <p>----------------------------------------------------</p>
            <p>ImageLink:</p>
            <input type="text" asp-for="@Model.ImageLink" placeholder="ImageLink" />
            <p>----------------------------------------------------</p>
            <input type="hidden" name="input" value="103" placeholder="SubmitAdd" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Add Shoes</p></button>
        </form>
        break;
    case 11: // Formulär för att skapa Underkläder
        <form method="post">
            <p>Name:</p>
            <input type="text" asp-for="@Model.Name" placeholder="Name" />
            <p>----------------------------------------------------</p>
            <p>Size:</p>
            <input type="number" asp-for="@Model.Size" placeholder="Size" name="Size" />
            <p>----------------------------------------------------</p>
            <p>Color:</p>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Black" name="Color" value="@Models.Colors.Black" checked>
                <label for="Black">Black</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Red" name="Color" value="@Models.Colors.Red">
                <label for="Red">Red</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Yellow" name="Color" value="@Models.Colors.Yellow">
                <label for="Yellow">Yellow</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Blue" name="Color" value="@Models.Colors.Blue">
                <label for="Blue">Blue</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Gender:</p>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Male" name="Gender" value="@Models.Gender.Male" checked>
                <label for="Male">Male</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Female" name="Gender" value="@Models.Gender.Female">
                <label for="Female">Female</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Unisex" name="Gender" value="@Models.Gender.Unisex">
                <label for="Unisex">Unisex</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Price:</p>
            <input type="number" asp-for="@Model.Price" placeholder="Price" />
            <p>----------------------------------------------------</p>
            <p>Description:</p>
            <textarea type="text" asp-for="@Model.Description" placeholder="Description" rows="10" cols="60" name="description"></textarea>
            <p>----------------------------------------------------</p>
            <p>Stock: </p>
            <input type="number" asp-for="@Model.Stock" placeholder="Stock" />
            <p>----------------------------------------------------</p>
            <p>Sexyness:</p>
            <div>
                <input type="radio" asp-for="@Model.UnderwearSexyness" id="Sexy" name="UnderwearSexyness" value="@Models.UnderwearSexyness.Sexy" checked>
                <label for="Sexy">Sexy</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.JacketLenght" id="NotSexy" name="UnderwearSexyness" value="@Models.UnderwearSexyness.NotSexy">
                <label for="NotSexy">NotSexy</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>ImageLink:</p>
            <input type="text" asp-for="@Model.ImageLink" placeholder="ImageLink" />
            <p>----------------------------------------------------</p>
            <input type="hidden" name="input" value="104" placeholder="SubmitAdd" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Add Underwear</p></button>
        </form>
        break;
    case 12: // Formulär för att ändra produkt
        <form method="post">
            <p>Type:</p>
            <div>
                <input type="radio" asp-for="@Model.Type" id="Jackets" name="Type" value="Jackets" checked>
                <label for="Jackets">Jackets</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Type" id="Pants" name="Type" value="Pants">
                <label for="Pants">Pants</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Type" id="Shirts" name="Type" value="Shirts">
                <label for="Shirts">Shirts</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Type" id="Shoes" name="Type" value="Shoes">
                <label for="Shoes">Shoes</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Type" id="Underwear" name="Type" value="Underwear">
                <label for="Underwear">Underwear</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Name:</p>
            <input type="text" asp-for="@Model.Name" placeholder="Name" value="@Model.TheProduct.Name" />
            <p>----------------------------------------------------</p>
            <p>Size:</p>
            <input type="number" asp-for="@Model.Size" placeholder="Size" name="Size" />
            <p>----------------------------------------------------</p>
            <p>Color:</p>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Black" name="Color" value="@Models.Colors.Black">
                <label for="Black">Black</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Red" name="Color" value="@Models.Colors.Red">
                <label for="Red">Red</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Yellow" name="Color" value="@Models.Colors.Yellow">
                <label for="Yellow">Yellow</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Colors" id="Blue" name="Color" value="@Models.Colors.Blue">
                <label for="Blue">Blue</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Gender:</p>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Male" name="Gender" value="@Models.Gender.Male">
                <label for="Male">Male</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Female" name="Gender" value="@Models.Gender.Female">
                <label for="Female">Female</label>
            </div>
            <div>
                <input type="radio" asp-for="@Model.Gender" id="Unisex" name="Gender" value="@Models.Gender.Unisex">
                <label for="Unisex">Unisex</label>
            </div>
            <p>----------------------------------------------------</p>
            <p>Price:</p>
            <input type="number" asp-for="@Model.Price" placeholder="Price" value="@Model.TheProduct.Price" />
            <p>----------------------------------------------------</p>
            <p>Description:</p>
            <textarea type="text" asp-for="@Model.Description" placeholder="Description" rows="10" cols="60" name="description" value="@Model.TheProduct.Description"></textarea>
            <p>----------------------------------------------------</p>
            <p>Stock: </p>
            <input type="number" asp-for="@Model.Stock" placeholder="Stock" />
            @if (Model.TheProduct is Models.Jackets)
            {
                <p>----------------------------------------------------</p>
                <p>Jacket lenght:</p>
                <div>
                    <input type="radio" asp-for="@Model.JacketLenght" id="Long" name="JacketLenght" value="@Models.JacketLenght.Long">
                    <label for="Long">Long</label>
                </div>
                <div>
                    <input type="radio" asp-for="@Model.JacketLenght" id="Short" name="JacketLenght" value="@Models.JacketLenght.Short">
                    <label for="Short">Short</label>
                </div>
                <div>
                    <input type="radio" asp-for="@Model.JacketLenght" id="Medium" name="JacketLenght" value="@Models.JacketLenght.Medium">
                    <label for="Medium">Medium</label>
                </div>
            }
            @if (Model.TheProduct is Models.Underwear)
            {
                <p>----------------------------------------------------</p>
                <p>Sexyness:</p>
                <div>
                    <input type="radio" asp-for="@Model.UnderwearSexyness" id="Sexy" name="UnderwearSexyness" value="@Models.UnderwearSexyness.Sexy" checked>
                    <label for="Sexy">Sexy</label>
                </div>
                <div>
                    <input type="radio" asp-for="@Model.JacketLenght" id="NotSexy" name="UnderwearSexyness" value="@Models.UnderwearSexyness.NotSexy">
                    <label for="NotSexy">NotSexy</label>
                </div>
            }
            <p>----------------------------------------------------</p>
            <p>ImageLink:</p>
            <input type="text" asp-for="@Model.ImageLink" placeholder="ImageLink" value="@Model.TheProduct.ImageLink" />
            <p>----------------------------------------------------</p>
            <input type="hidden" name="input" value="107" placeholder="SubmitEdit" />
            <button type="submit" class="btn btn-primary" style="height:40px"><p>Edit Jacket</p></button>
        </form>
        break;
    case 13:
        <h1>Products added</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 100:
        <h1>Product succesfully added</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 101:
        <h1>Error, prodct not added, please try again</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 102:
        <h1>Product succesfully removed</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 103:
        <h1>Error, prodct not removed, please try again</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 104:
        <h1>Discount adjusted to @Data.ProductManager.Discount %</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 105:
        <h1>Product @Data.ProductManager.TempProductId succesfully edited</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 106:
        <h1>Error, prodct not edited, please try again</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 107:
        <h1>Product added to saleslist</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;
    case 108:
        <h1>Product removed from saleslist</h1>
        <meta http-equiv="refresh" content="1; URL=/Admin" />
        break;

}

