@page
@model IndexModel
@{
    ViewData["Title"] = "Comfortable Clothing";
}         
<div class="container">
    <div class="row " style="padding-bottom:50px">
        <h1 class="text-center center "> @Model.ShopName</h1>
    </div>
    <div class="row"style="padding-bottom:50px">
        <div class="col-10">
            <form method="post">
                <input type="text" asp-for="FindProduct"/>
                <input type="submit"/>
            </form>
        </div>
    </div>
    <div class="row" style="padding-bottom:50px">
        <div class="col">
            <p><a asp-page="/ViewSortedPages" asp-route-index="1">All Clothes</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="2">Men</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="3">Woman</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="4">Jackets</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="5">Shoes</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="6">Shirts</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="7">Pants</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="8">Underwear</a></p>
            <p><a asp-page="/ViewSortedPages" asp-route-index="10">SALE</a></p>
        </div>
        <div class="col">
            <img src="~/Image/clothes-g10faf1e9e_1920.jpg" width="600" height="400" />
        </div>
        <div class="col">
            <img src="~/Image/christmas-tree-g47bc817af_1920.jpg" width="300" height="400" />
        </div>
    </div>
    <div class="row" style="padding-bottom:50px">
        <h6 class="text-center center">Store Background</h6>
        <p>
            This shop started 2004 when a group a friends wanted to crete an online buisness together.
            Our buisness idea is that all clothes should be comfortable to a reasonal price. In this store
            we sell jackets, shoes, underwear, shirts and a lot of other items for all occations and seasons.
        </p>
    </div>
    <div class="row"style="padding-bottom:50px">
        <h1 class="center">Christmas Sale: @Data.ProductManager.Discount% off selected products</h1>
    </div>
    <div class="row" style="padding-bottom:50px">
        @for (int i = 0; i < Data.ProductManager.SalesList.Count; i++)
        {
            <div class="col">
                <div class="card center" style="width: 15rem;padding:10px">
                    <img src="@Data.ProductManager.SalesList[i].ImageLink" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@Data.ProductManager.SalesList[i].Name</h5>
                        <p class="card-text">Now @Data.ProductManager.Discount% discount on @Data.ProductManager.SalesList[i].Name in the store. Check it out!</p>
                        <p><a asp-page="/ViewSalesProduct" asp-route-productId="@i">Take me there!</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>