@page
@model Webbshoppen.Pages.ViewCartModel
@{
    ViewData["Title"] = "Shopping Cart";
}
<h1>Shopping Cart</h1>
<div>
    @*Kontrollerar om det finns produkter i varukorgen och loopar sedan igenom varukorgen och skriver ut vad som finns i*@
    @if (Data.ProductManager.Cart.Count < 1) { <h1>The cart is empty</h1>}
    @foreach (IGrouping<int, Models.Product> prod in Model.CartList)
    {
    <div class="card mb-3" style="width: 70rem;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@prod.FirstOrDefault().ImageLink" class="img-fluid rounded-start" alt="..." style="height:200px; width:150px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3><a asp-page="/ViewProduct" asp-route-productId="@prod.First().ProductId">@prod.FirstOrDefault().Name</a></h3>
                    <h5 class="card-text">@Math.Round(prod.FirstOrDefault().Price * 1.25) :- </h5>
                    <h5 class="card-text">@prod.Count() x </h5>
                    <div class="row">
                        @if (prod.FirstOrDefault().Stock > 0)
                        {
                            <h3><a type="button" class="btn btn-outline-dark" asp-page="/AddProduct" asp-route-input="@prod.FirstOrDefault().ProductId">+</a></h3>
                        }
                        <h3><a type="button" class="btn btn-outline-dark" asp-page="/DeleteProduct" asp-route-input="@prod.FirstOrDefault().ProductId">-</a></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<a class="btn btn-primary" href="/ViewCheckout" role="button">To checkout</a>