@page
@model Webbshoppen.Pages.ViewSortedPagesModel
@{
    ViewData["Title"] = "Sorted Page";
}
<div>
    @if (Data.ProductManager.SortedList.Count < 1)
    {<p>No result</p>}
    @foreach (Models.Product prod in Data.ProductManager.SortedList)
    {
        <div class="card mb-3" style="width: 70rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@prod.ImageLink" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3><a asp-page="/ViewProduct" asp-route-productId="@prod.ProductId">@prod.Name</a></h3>
                        <h5 class="card-text">@prod.Price :- </h5>
                        <p class="card-text">In stock: @prod.Stock</p>
                        <p class="card-text">Gender: @prod.Gender</p>
                        <p class="card-text">Color: @prod.Colors</p>
                        <p class="card-text">Art nr: @prod.ProductId</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>